<div class="container-fluid">
  <h3>1 Day Chat App</h3>
  All messages will be deleted at 00:00 UTC
  <div class="container-fluid">
    <div class="row">
      <div class="col-3 align-self-start side-panel">
        <div class="column">
          <div class="options">1. Choose user</div>
          <select class="form-select" class="select-box">
            <option *ngFor="let user of userList" [value]="user.userId">
              {{ user.userId }}
            </option>
          </select>
        </div>
        <div>
          <p class="options">2. Choose Channel</p>
          <div class="nav-list">
            <div
              *ngFor="let channel of channelList"
              class="nav-list-item"
              routerLink="{{ channel.path }}"
              routerLinkActive="active"
            >
              {{ channel.channelName }}
            </div>
          </div>
        </div>
      </div>
      <div class="col-8 chat-window">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
